@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@100&family=Libre+Baskerville&family=Poppins:wght@800&family=Rubik:wght@300;700&display=swap");

:root {
  font-family: "Rubik", sans-serif;
  --font-titles: 20px;
  --color-titles: #023e8a;
  --color-todo: #001219;
  --color-container: #ffffff;
  --color-btn: #0077b6;
  --color-item: #cfcfcf;
  --background: #001219;
}
